[MASTER]
ignore-patterns=venv
extension-pkg-allow-list=
jobs=0
persistent=yes

[MESSAGES CONTROL]
disable=
    C0114,  # missing-module-docstring (enable if your course requires)
    C0115,  # missing-class-docstring
    C0116   # missing-function-docstring

[FORMAT]
max-line-length=100
